<div class="container">	

<div class="row" id ="shark">	
	<img src="/assets/img/leftsharksurf.gif">
<div>		

<div id="bucketlist_all" class="row">
			<div class="col-md-1"></div>

	<div class="col-md-5" id="todo">

		<ul class ="list-group">
			<h2>TODO</h2>
			{{#each bucketlist}}
				{{#unless accomplished}}
					{{> bucketlist/bucketlist-block accomplish=true}}
				{{/unless}}	
			{{/each}}
		</ul>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-5" id="donezo">

		<ul class ="list-group">
					<h2>DONE</h2>

			{{#each bucketlist}}
				{{#if accomplished}}
					{{> bucketlist/bucketlist-block accomplish=false}} 
					
				{{/if}}	
			{{/each}}
		</ul>
	</div>
</div>

<div class="row">
	<h2>Add something to the list</h2>

	<div class="col-md-4"></div> 
	
	<div id="addItemDiv" class="col-md-4">
	<form class="create-form">
	 <!-- method="POST" action="/"> -->
<!-- Input field for new bucketlist item -->
  		<div class="form-group">
    	<label for="item">Thing to do</label>
    	<input type="text" id="item" name="itemName">
<!--     	</div>
 -->
		<!-- <div class="form-group">
    	<label for="donezozo">Did it?</label><br>
    	<input type="radio" name="donezozo" value="1" checked> I did it!<br>
    	<input type="radio" name="donezozo" value="0">Gotta do it!
  		</div> -->

    	<button type="submit"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
  		</div>

  		
	</form>
	</div>

	<div class="col-md-4"></div>
</div>
	
</div>