body {
	background-color: lightblue;
	margin-top: 30px;
	margin-bottom: 30px;
}

img {

	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px; }

h2 {
	text-align: center;
}

#bucketlist_all {
	width: 900px;
	margin-left: auto;
    margin-right: auto;
}

.column {
	width:500px;
}

